<!DOCTYPE html>
<html>
<head>
  <title>PartiSsoClient</title>
  <%= stylesheet_link_tag    "parti_sso_client/application", media: "all" %>
  <%= javascript_include_tag "parti_sso_client/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
